{% extends "base.html" %}
{% block title %} Change Password {% endblock %}
{% block content %}
<h1>Change Password</h1>
{% if request.user.is_authenticated %}
    <form method="post" action="{% url 'change_password' %}">{% csrf_token %}
        <div class="mb-3">
            <label for="new_password" class="form-label">New Password</label>
            {{form.new_password1}}
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm New Password</label>
            {{form.new_password2}}
        </div>
        <button type="submit" class="btn btn-success">Change Password</button>
        <button type="button" class="btn btn-secondary" onclick=window.location.href="{% url 'edit_profile' %}">Cancel</button>
    </form>
{% else %}
    <p>You need to be logged in to change your password.</p>
{% endif %}
{% endblock %}